.Post {
  font-family: sans-serif;
  font-size: 2rem;

  color: rgb(0, 54, 105);
}

.Postuler {
  background-color: white;

  cursor: pointer;
}

.desc {
  padding: 20px;
  font-family: sans-serif;
  font-size: 1rem;
  color: rgb(60, 58, 58);
}
.title {
  font-size: large;
  color: rgb(0, 54, 105);
}
.btn-bd-primary {
background: rgb(52, 183, 248) ;
   border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 height:40px;
   width:100px;
   border-radius: 30px;
}
.btn-bd-primary:hover {
  box-shadow: 0 8px 12px 0 rgba(62, 62, 62, 0.24), 0 5px 20px 0 rgba(77, 77, 77, 0.19);
}